<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Recommendation System</title>
        
    </head>
    <body>
        <a href="https://www.github.com/raj-dusane" style="text-decoration:none;" target="_blank"> <h2> Developed By: Raj Dusane</h2> </a>
        <a href="https://www.github.com/raj-dusane" style="text-decoration: none;"> GitHub.com</a>
        <br>
        <a href="https://www.linkedin.com/in/raj-dusane" style="text-decoration: none;" > LinkedIn</a>
        <br>
        <p> Redirect links: </p>
        <a href="/" style="text-decoration: none;"> Home Page </a> 
        <br>
        <a href="/recommend" style="text-decoration: none;"> Recommend Page </a>
    </body>
</html>